@charset "UTF-8";
/* 작성자 : 최나현  */
.magazine *{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
.magazine{ 
	margin-top: 62px;
	min-width:1280px;
}
/*슬라이더 중앙 정렬*/
.maga_top .bx-wrapper{
	margin: auto;
}
/*슬라이더 시작*/
.maga_s_img{
	background-repeat : no-repeat; /*백그라운드 이미지 반복금지 */ 
	background-position : center; /*중앙정렬 */
	background-size : cover;/*이미지 비율을 유지하면서 배경을 모두 채울만큼 확대혹은축소 */
	width: 1000px;
	height: 500px;
	position: relative;
}
.maga_s_cover{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.35);
}
.maga_s_title{
	position: absolute;
    width: 100%;
    height: 100%;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.maga_s_title span{
	padding-bottom: 20px;
    border-bottom: 3px solid #fff;
    padding-top: 20px;
    border-top: 3px solid #fff;
}
/*슬라이더 끝 */
/*필터 영역 */
.maga_filter{
	margin-top: 100px;
    text-align: right;
}
.maga_f_container{
	width: 1000px;
    margin: auto;
}
.maga_f_s{
	display: inline-block;
	margin-left: 15px;
	position: relative;
	border-bottom : 1px solid #c3c3c3;
	height: 40px;
	
}
.maga_selector{
	width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    opacity: 0;
}
.maga_label{
   position: absolute;
    font-size: 12px;
    color: #646464;
    top: 13px;
    left: 12px;
    letter-spacing: 1px; /*글자간격*/
   }
#maga_f_submit{
	border : none;
}
.maga_f_s input{
	display: inline-block;
    border: 1px solid #917751;
    color: #917751;
    padding: 8px 13px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    vertical-align: middle;
    margin-top: -5px;
    font-weight: bold;
}
/*필터끝*/
/*매거진리스트*/
.maga_list{
	width:1030px;
	margin: auto;
	margin-top: 30px;

}
.maga_maga{
    margin-bottom: 10px;
   margin-right: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    display: inline-block;
}
.maga_img{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #917751;
    width : 500px;
    height: 350px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.maga_info{
	padding-top: 8px;
    padding-left: 15px;
}
.maga_i_title{
    font-size: 16px;
    font-weight: 900;
    color: #595959;
    height: 21px;
    width: 485px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    overflow: hidden;
}   
.maga_i_tag{
padding-top: 6px;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    padding-bottom: 22px;
    width: 335px;
    overflow: hidden;
    margin-bottom: 10px;
	
} 
.maga_i_tag span{
    color: #917751;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    